:root {
  --font: roboto;
  --font-size: 20px;
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);

  font-family: var(--font);
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.cell {
  border: 2px solid black;
  width: var(--cell-size);
  height: var(--cell-size);

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

/* #region CELL X */
.cell.x::before,
.cell.x::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);

  background-color: black;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}
/* #endregion */

/* #region CELL CIRCLE */
.cell.circle::before,
.cell.circle::after {
  content: '';
  position: absolute;
  border-radius: 50%;

  background-color: black;
}

.cell.circle::before {
  width: calc(var(--mark-size));
  height: calc(var(--mark-size));
  background-color: black;
}

.cell.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}
/* #endregion */
